{% extends 'base.html.twig' %}

{% block title %}New Donation{% endblock %}

{% block body %}

    <div class="banner"></div>
    <br>

    <div class="container-fluid">
        <div class="card mx-auto" style="max-width: 40rem;">
            <div class="card-header" style="text-align: center;background-color: white; font-weight: bold; font-size: 18px">
                <span>Send a message to the requester</span>
            </div>
            {{ form_errors(form) }}

            {{ form_start(form) }}
            <div class="card-body">
                {{ form_label(form.message, 'Message') }}
                {{ form_widget(form.message, {'attr': {'class': 'form-control mb-3'}}) }}
            </div>
        </div>
    </div>

    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-6" style="text-align: start">
                <a class="btn btn-secondary" href="{{ path('app_requester_index') }}" type="button">Back</a>
            </div>
            <div class="col-6" style="text-align: end">
                {{ include('blood_group/_form.html.twig', {'button_label': 'Save'}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    </div>
    </div>
    <br>


{#    {{ include('donation/_form.html.twig') }}#}

{#    <a href="{{ path('app_donation_index') }}">back to list</a>#}
{% endblock %}
