{% extends 'base.html.twig' %}

{% block title %}BloodGroup index{% endblock %}

{% block body %}

    <style>
        .social-link {
            width: 30px;
            height: 30px;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            border-radius: 50%;
            transition: all 0.3s;
            font-size: 0.9rem;
        }

        .social-link:hover,
        .social-link:focus {
            background: #ddd;
            text-decoration: none;
            color: #555;
        }
    </style>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4"style="color:#B0413E">Importanta donarii de sange</h1>
                    <p class="lead text-muted mb-0">Aproximativ 328 milioane de oameni traiesc in acest moment in U.S.
                        In fiecare an, aproximativ 6.8 milioane de oameni din U.S doneaza sange.
                        Anual, se strang aproximativ 13.6 milioane de unitati de sange recoltate pentru a putea fi donate in U.S.
                        Crucea Rosie furnizeaza donatorilor aproximativ 40% din sangele si componentele celulelor sanguine natiunii.
                        Donatiile noastre de sange sunt folosite pentru pacientii care au nevoie de interventii chirurgicale, tratament pentru cancer si transfuzii pentru pierderea de sange din cauza leziunilor traumatice.</p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="{{ asset('/images/benefitsOfBloodDonation.png') }}" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light" style="color:#B0413E">Stiai ca?</h2>
                    <p class="font-italic text-muted mb-4">O singura donatie poate salva mai multe vieti. Iata faptele:</p>
                    <ul>
                        <li>Doar <b>1 donatie</b> poate salva pana la <b>3 vieti</b></li>
                        <li>Transfuzia medie de globule rosii este de <b>3 pinte</b> (sau 3 donatii de sange integrale).</li>
                        <li>Mai mult de <b>1 milion</b> de oamnei sunt diagnosticati cu cancer anual pentru prima data. Multi dintre ei vor avea nevoie de sange—uneori zilnic—in timpul chemoterapiei.</li>
                        <li>Mai mult de <b>38,000 donatii de sange</b> sunt necesare zilnic</li>
                        <li><b>Tipul 0-negativ</b>de sange integral poate fi transfuzat persoanelor cu orice grupa de sange, dar acest tip de sange este rar, iar rezervele sunt mici.</li>
                        <li><b>Tipul AB plasma</b> poate fi transfuzat pacientilor cu toate celelalte tipuri de sange, dar este, de asemenea <b>o aprovizionare insuficienta</b>.</li>
                        <li>In timp ce <b>38%</b> din populatia Americii este capabila sa doneze sange, doar <b>2% doneaza de fapt</b>.</li>
                    </ul>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="{{ asset('/images/did you know.jpg') }}" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
{#            <div class="row align-items-center">#}
{#                <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>#}
{#                <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>#}
{#                    <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>#}
{#                    <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>


    {#            blood groups#}

    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light" style="color:#B0413E">Grupele de sange</h2>
                    <a href="{{ path('app_blood_group_new') }}" class="social-link fa fa-plus"></a>
                </div>
            </div>

            <div class="row text-center">
                {% for blood_group  in blood_groups %}
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0" style="color:#B0413E">{{ blood_group.name }}</h5>
                        <span class="small text-uppercase text-muted">{{ blood_group.description }}</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="{{ path('app_blood_group_edit', {'id': blood_group.id}) }}" class="social-link"><i class="fa fa-edit"></i></a></li>
{#                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-trash"></i></a></li>#}
                            <li class="list-inline-item">{{ include('blood_group/_delete_form.html.twig') }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
