{% extends 'base.html.twig' %}

{% block title %}Requester index{% endblock %}

{% block body %}
    <h1>Requester index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Blood Group</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for requester in requesters %}
            <tr>
                <td>{{ requester.id }}</td>
                <td>{{ requester.description }}</td>
                <td>{{ requester.firstName }}</td>
                <td>{{ requester.lastName }}</td>
                <td>{{ requester.getBloodGroup().name }}</td>
                <td>
                    <a href="{{ path('app_requester_show', {'id': requester.id}) }}">show</a>
                    <a href="{{ path('app_requester_edit', {'id': requester.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_requester_new') }}">Create new</a>
{% endblock %}
